# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea
*.log
/.bsp/
/.metals/
/project/.bloop/
/project/metals.sbt
/project/project/
/.bloop/
