---
name: CI
on:
  pull_request:
    branches: [master]
    paths:
      - 'src/**'
      - 'project/**'
      - 'build.sbt'
  push:
    branches: [master]
    paths:
      - 'src/**'
      - 'project/**'
      - 'build.sbt'
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java:
          - 8
          - 11
        scala:
          - 2.12.14
          - 2.13.6
          - 3.0.0
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup
        uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.${{ matrix.java }}"
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
      - name: Build and test
        run: sbt ++${{ matrix.scala }} scalafmtCheck test:scalafmtCheck scalafmtSbtCheck headerCheck test:headerCheck test
        shell: bash
  e2e:
    if: github.actor == 'paoloboni'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup
        uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.11"
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
      - name: Build and test
        env:
          FAPI_API_KEY: ${{ secrets.FAPI_API_KEY }}
          FAPI_SECRET_KEY: ${{ secrets.FAPI_SECRET_KEY }}
          SPOT_API_KEY: ${{ secrets.SPOT_API_KEY }}
          SPOT_SECRET_KEY: ${{ secrets.SPOT_SECRET_KEY }}
        run: sbt e2e:test
        shell: bash
